<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css"
    />
  </head>

  <body>
    <div class="container" style="max-width: 1100px;">
      <div class="row">
        <header><h1>Contact Center Dashboard</h1></header>
      </div>
      <div class="row">
        <p class="error" style="color: red;">
          The agent name and number cannot be empty.
        </p>
      </div>
      <div class="row">
        <h4>Add a New Agent</h4>
        <form name="agentForm" action="/addAgent" method="POST">
          <input
            type="text"
            name="agentNum"
            id="agentNum"
            placeholder="Agent Phone Number"
          />

          <input
            type="text"
            name="agentName"
            id="agentName"
            placeholder="Agent Name"
          />

          <select 
            name="agentChannel"
            id="agentChannel"
            placeholder="Agent Channel"
          >
            <option value="whatsapp">WhatsApp</option>
            <option value="sms">SMS</option>            
            <option value="messenger">Facebook Messenger</option>
            <option value="viber_service_msg">Viber</option>
            <option value="voice">Voice</option>
          </select>
          <select
            name="specialty"
            id="specialty"
            placeholder="Agent Specialty"
          >
            <option value="technicalSupport">Technical Support</option>
            <option value="sales">Sales</option>
            <option value="finance">Finance</option>
          </select>
          <input
            type="submit" 
            id="addAgentButton"
            class="button-primary"
            value="Add Agent"
          />
        </form>
      </div>
      <div class="row">
        <div class="one-half column">
          <h4>Currently Registered Agents</h4>
          <div style="overflow-y: auto;">
            <table id="agentTable">
              <thead>
                <tr>
                  <th>Agent Name</th>
                  <th>Agent Number</th>
                  <th>Specialty</th>
                  <th>Availability</th>
                  <th>Channel</th>                  
                </tr>
              </thead>
              <tbody></tbody>
            </table>
          </div>
        </div>
        <div class="one-half column">
          <h4>Customers Currently Being Helped</h4>
          <div style="overflow-y: auto;">
            <table id="customersTable">
              <thead>
                <tr>
                  <th>Agent Number</th>
                  <th>Customer Number</th>
                  <th>Emoji</th>
                  <th>Channel</th>
                  <th>Specialty Needed</th>
                </tr>
              </thead>
              <tbody></tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <script src="/js/main.js"></script>
  </body>
</html>
